
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #f0f4f8;
  color: #333;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ0EqHI6h5QgFTXGG_1i2FADG1xulRbVtecA&s";
}


h1, h2 {
  margin-bottom: 20px;
  color: #222;
  text-align: center;
}


form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
}


form input[type="text"],
form input[type="number"],
form input[type="date"],
form input[type="email"],
form input[type="password"],
form textarea,
form select {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.3s;
}

input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

button {
  width: 100%;
  background: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}


.dashboard-button {
  display: block;
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 10px auto;
  background: #008cff;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.dashboard-button:hover {
  background: #005ea8;
}
